<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<!-- Application context definition for collection's business layer. -->
<beans>
	<!-- ========================= BUSINESS OBJECT DEFINITIONS ======================== -->
 <bean id="chgpayBS" parent="baseTransactionProxy">
		<property name="target">
			<bean
				class="org.xpup.hafmis.syscollection.chgbiz.chgpay.business.ChgpayBS">
							<property name="orgDAO">
					<ref bean="orgDAO" />
				</property>
				<property name="chgOrgRateDAO">
					<ref bean="chgOrgRateDAO" />
				</property>
				<property name="chgPersonHeadDAO">
					<ref bean="chgPersonHeadDAO" />
				</property>
					<property name="chgPaymentSalaryBaseDAO">
					<ref bean="chgPaymentSalaryBaseDAO" />
				</property>
				<property name="chgPaymentPaymentDAO">
					<ref bean="chgPaymentPaymentDAO" />
				</property>
				<property name="chgPaymentTailDAO">
					<ref bean="chgPaymentTailDAO" />
				</property>
				<property name="empDAO">
					<ref bean="empDAO" />
				</property>
				<property name="hafOperateLogDAO">
					<ref bean="hafOperateLogDAO" />
				</property>
				
				<property name="chgPaymentBizActivityLogDAO">
					<ref bean="chgPaymentBizActivityLogDAO" />
				</property>
				
				<property name="paymentHeadDAO">
					<ref bean="paymentHeadDAO" />
				</property>
				<property name="autoInfoPickDAODW">
					<ref bean="autoInfoPickDAODW" />
				</property>
				<property name="chgPaymentPaymentDAODW">
					<ref bean="chgPaymentPaymentDAODW" />
				</property>
				<property name="chgPersonHeadDAODW">
					<ref bean="chgPersonHeadDAODW" />
				</property>
				<property name="autoInfoPickDAO">
					<ref bean="autoInfoPickDAO" />
				</property>
				<property name="chgPaymentHeadDAO">
					<ref bean="chgPaymentHeadDAO" />
				</property>
			</bean>
		</property>
	</bean>
</beans>

