<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<!-- Application context definition for collection's business layer. -->
<beans>
	<!-- ========================= BUSINESS OBJECT DEFINITIONS ======================== -->
 	<bean id="credencemodleBS" parent="baseTransactionProxy">
		<property name="target">
			<bean
				class="org.xpup.hafmis.sysfinance.bookmng.credencemodle.business.CredencemodleBS">				
				<property name="fnOperateLogDAO">
					<ref bean="fnOperateLogDAO" />
				</property>	
				<property name="bookParameterDAO">
					<ref bean="bookParameterDAO" />
				</property>	
				<property name="subjectDAO">
					<ref bean="subjectDAO" />
				</property>		
				<property name="credenceModleDAO">
					<ref bean="credenceModleDAO" />
				</property>			
			</bean>
		</property>
	</bean>
</beans>

