<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<!-- Application context definition for collection's business layer. -->
<beans>
	<!-- ========================= BUSINESS OBJECT DEFINITIONS ======================== -->
	<bean id="othersLoanBS" parent="baseTransactionProxy">
		<property name="target">
			<bean
				class="org.xpup.hafmis.sysloan.loanapply.othersloan.business.OthersLoanBS">
				<property name="othersLoanDAO">
					<ref bean="othersLoanDAO" />
				</property>
			</bean>
		</property>
	</bean>
	<bean id="loanapplyBS" parent="baseTransactionProxy">
		<property name="target">
			<bean
				class="org.xpup.hafmis.sysloan.loanapply.loanapply.business.LoanapplyBS">
				<property name="borrowerDAO">
					<ref bean="borrowerDAO" />
				</property>
				<property name="empDAO">
					<ref bean="empDAO" />
				</property>
				<property name="borrowerAccDAO">
					<ref bean="borrowerAccDAO" />
				</property>
				<property name="borrowerLoanInfoDAO">
					<ref bean="borrowerLoanInfoDAO" />
				</property>
				<property name="plOperateLogDAO">
					<ref bean="plOperateLogDAO" />
				</property>
				<property name="specialBorrowerDAO">
					<ref bean="specialBorrowerDAO" />
				</property>
					<property name="contractNumMngDAO">
					<ref bean="contractNumMngDAO" />
				</property>
				<property name="assistantBorrowerDAO">
					<ref bean="assistantBorrowerDAO" />
				</property>
				<property name="housesDAO">
					<ref bean="housesDAO" />
				</property>
				<property name="developerDAO">
					<ref bean="developerDAO" />
				</property>
				<property name="developProjectDAO">
					<ref bean="developProjectDAO" />
				</property>
				<property name="loanRateDAO">
					<ref bean="loanRateDAO" />
				</property>
				<property name="orgDAO">
					<ref bean="orgDAO" />
				</property>
				<property name="organizationUnitDAO">
					<ref bean="organizationUnitDAO" />
				</property>
				<property name="contractNumCancelDAO">
					<ref bean="contractNumCancelDAO" />
				</property>
				<property name="securityDAO">
					<ref bean="securityDAO" />
				</property>
			</bean>
		</property>
	</bean>
</beans>

