<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<!-- Application context definition for collection's business layer. -->
<beans>
	<!-- ========================= BUSINESS OBJECT DEFINITIONS ======================== -->
		<bean id="traninBS" parent="baseTransactionProxy">
		<property name="target">
			<bean
				class="org.xpup.hafmis.syscollection.tranmng.tranin.business.TraninBS">
			    <property name="tranInTailDAO">
					<ref bean="tranInTailDAO" />
				</property>
				<property name="tranInHeadDAO">
					<ref bean="tranInHeadDAO" />
				</property>
				<property name="tranInBizActivityLogDAO">
					<ref bean="tranInBizActivityLogDAO" />
				</property>
				<property name="orgDAO">
					<ref bean="orgDAO" />
				</property>
				<property name="tranInOrgDAO">
					<ref bean="tranInOrgDAO" />
				</property>
				<property name="empDAO">
					<ref bean="empDAO" />
				</property>
				<property name="tranOutHeadDAO">
					<ref bean="tranOutHeadDAO" />
				</property>
				<property name="tranOutTailDAO">
					<ref bean="tranOutTailDAO" />
				</property>
				<property name="tranOutOrgDAO">
					<ref bean="tranOutOrgDAO" />
				</property>
				<property name="hafOperateLogDAO">
					<ref bean="hafOperateLogDAO" />
				</property>
				<property name="orgHAFAccountFlowTransInDAO">
					<ref bean="orgHAFAccountFlowTransInDAO" />
				</property>
				<property name="empHAFAccountFlowDAO">
					<ref bean="empHAFAccountFlowDAO" />
				</property>
				<property name="orgHAFAccountFlowDAO">
					<ref bean="orgHAFAccountFlowDAO" />
				</property>
				<property name="pickTailDAO">
					<ref bean="pickTailDAO" />
				</property>
				<property name="docNumMaintainDAO">
					<ref bean="docNumMaintainDAO" />
				</property>
				<property name="docNumCancelDAO">
					<ref bean="docNumCancelDAO" />
				</property>
				<property name="chgPersonTailDAO">
					<ref bean="chgPersonTailDAO" />
				</property>
				<property name="empInfoDAO">
				    <ref bean="empInfoDAO"/>
				</property>
				<property name="autoInfoPickDAO">
					<ref bean="autoInfoPickDAO" />
				</property>
				<property name="tranInTailDAODW">
					<ref bean="tranInTailDAODW" />
				</property>
				<property name="empDAODW">
					<ref bean="empDAODW" />
				</property>
				<property name="autoInfoPickDAODW">
					<ref bean="autoInfoPickDAODW" />
				</property>
				<property name="collParaDAO">
					<ref bean="collParaDAO" />
				</property>
			</bean>
		</property>
	</bean>
	<bean id="tranoutBS" parent="baseTransactionProxy">
		<property name="target">
			<bean
				class="org.xpup.hafmis.syscollection.tranmng.tranout.business.tranoutBS">
							
				<property name="tranOutTailDAO">
					<ref bean="tranOutTailDAO" />
				</property>
				
				<property name="empDAO">
					<ref bean="empDAO" />
				</property>
				
				<property name="orgDAO">
				    <ref bean="orgDAO"/>
				</property>  
				
					<property name="tranOutHeadDAO">
				    <ref bean="tranOutHeadDAO"/>
				</property>
				
				<property name="hafOperateLogDAO">
				    <ref bean="hafOperateLogDAO"/>
				</property>   
				
				<property name="orgHAFAccountFlowTransOutDAO">
				    <ref bean="orgHAFAccountFlowTransOutDAO"/>
				</property> 
				
				
				<property name="empHAFAccountFlowDAO">
				    <ref bean="empHAFAccountFlowDAO"/>
				</property>  
				
				<property name="bizActivityLogDAO">
				    <ref bean="bizActivityLogDAO"/>
				</property>   
				
				<property name="tranOutOrgDAO">
				    <ref bean="tranOutOrgDAO"/>
				</property>
				
				<property name="tranInOrgDAO">
				    <ref bean="tranInOrgDAO"/>
				</property> 
				
				<property name="tranOutBizActivityLogDAO">
				    <ref bean="tranOutBizActivityLogDAO"/>
				</property>
				
				<property name="hafInterestRateDAO">
				    <ref bean="hafInterestRateDAO"/>
				</property>
				
				<property name="pickTailDAO">
				    <ref bean="pickTailDAO"/>
				</property>
				<property name="empDAODW">
					<ref bean="empDAODW"/>
				</property>
				
				<property name="docNumCancelDAO">
				    <ref bean="docNumCancelDAO"/>
				</property>
				<property name="autoInfoPickDAO">
					<ref bean="autoInfoPickDAO"/>
				</property>
				<property name="autoInfoPickDAODW">
					<ref bean="autoInfoPickDAODW"/>
				</property>
				<property name="tranOutTailDAODW">
					<ref bean="tranOutTailDAODW" />
				</property>	
				<property name="tranOutHeadDAODW">
				    <ref bean="tranOutHeadDAODW"/>
				</property>
				<property name="organizationUnitDAO">
				    <ref bean="organizationUnitDAO"/>
				</property>
				<property name="collBankDAO">
				    <ref bean="collBankDAO"/>
				</property>
				<property name="orgHAFAccountFlowDAO">
				    <ref bean="orgHAFAccountFlowDAO"/>
				</property>
				<property name="collParaDAO">
					<ref bean="collParaDAO" />
				</property>
			</bean>
		</property>
	</bean>
	
	
	
	<bean id="DocNumBS" parent="baseTransactionProxy">
		<property name="target">
			<bean
				class="org.xpup.hafmis.syscollection.paymng.paysure.business.DocNumBS">
				<property name="docNumMaintainDAO">
				    <ref bean="docNumMaintainDAO"/>
				</property>  
				
				<property name="docNumCancelDAO">
				    <ref bean="docNumCancelDAO"/>
				</property> 
				<property name="collParaDAO">
					<ref bean="collParaDAO" />
				</property>
			</bean>
		</property>
	</bean>
</beans>

