<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<!-- Application context definition for collection's business layer. -->
<beans>
	<!-- ========================= BUSINESS OBJECT DEFINITIONS ======================== -->
	<bean id="empOperationFlowBS" parent="baseTransactionProxy">
		<property name="target">
			<bean
				class="org.xpup.hafmis.syscollection.querystatistics.operationflow.empoperationflow.business.EmpOperationFlowBS">
				<property name="empHAFAccountFlowDAO">
					<ref bean="empHAFAccountFlowDAO" />
				</property>
			</bean>
			
		</property>
	</bean>
</beans>

