<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<!-- Application context definition for collection's business layer. -->
<beans>
	<!-- ========================= BUSINESS OBJECT DEFINITIONS ======================== -->
	<bean id="ratemngBS" parent="baseTransactionProxy">
		<property name="target">
			<bean
				class="org.xpup.hafmis.syscollection.accounthandle.ratemng.business.RatemngBS">
				<property name="hafInterestRateDAO">
					<ref bean="hafInterestRateDAO" />
				</property>
				<property name="hafOperateLogDAO">
					<ref bean="hafOperateLogDAO" />
				</property>
				<property name="changeRateBizActivityLogDAO">
					<ref bean="changeRateBizActivityLogDAO" />
				</property>
				<property name="orgHAFAccountFlowDAO">
					<ref bean="orgHAFAccountFlowDAO" />
				</property>
			</bean>
		</property>
	</bean>
	
</beans>

