<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			/WEB-INF/app_context/security/applicationContext*.xml,
			/WEB-INF/app_context/applicationContext*.xml,
			/WEB-INF/app_context/demo/applicationContext-dao.xml,
			/WEB-INF/app_context/syscollection/applicationContext-dao.xml,
			/WEB-INF/app_context/sysloan/applicationContext-dao.xml,
			/WEB-INF/app_context/sysfinance/applicationContext-dao.xml,
			/WEB-INF/app_context/syscommon/applicationContext-dao.xml,
			/WEB-INF/app_context/sysloan/accounthandle/adjustaccount/applicationContext.xml,
			/WEB-INF/app_context/sysloan/accounthandle/bizcheck/applicationContext.xml,
			/WEB-INF/app_context/sysloan/accounthandle/clearaccount/applicationContext.xml,
			/WEB-INF/app_context/sysloan/accounthandle/clearoverdue/applicationContext.xml,
			/WEB-INF/app_context/sysloan/accounthandle/overpay/applicationContext.xml,
			/WEB-INF/app_context/sysloan/accounthandle/dayclear/applicationContext.xml,
			/WEB-INF/app_context/sysloan/accounthandle/carryforward/applicationContext.xml,
			/WEB-INF/app_context/sysloan/contractchg/assurepledgechg/applicationContext.xml,
			/WEB-INF/app_context/sysloan/contractchg/baseinfochg/applicationContext.xml,
			/WEB-INF/app_context/sysloan/contractchg/specialinfochg/applicationContext.xml,
			/WEB-INF/app_context/sysloan/dataready/loanpara/applicationContext.xml,
			/WEB-INF/app_context/sysloan/dataready/assistantorg/applicationContext.xml,
			/WEB-INF/app_context/sysloan/dataready/bank/applicationContext.xml,
			/WEB-INF/app_context/sysloan/credit/applicationContext.xml,
			/WEB-INF/app_context/sysloan/dataready/develop/applicationContext.xml,
			/WEB-INF/app_context/sysloan/dataready/param/applicationContext.xml,
			/WEB-INF/app_context/sysloan/dataready/rate/applicationContext.xml,
			/WEB-INF/app_context/sysloan/dataready/ratetype/applicationContext.xml,
			/WEB-INF/app_context/sysloan/dataready/bankpalindrome/applicationContext.xml,
			/WEB-INF/app_context/sysloan/dataready/palindromeformat/applicationContext.xml,
			/WEB-INF/app_context/sysloan/dataready/loanconditionsset/applicationContext.xml,
			/WEB-INF/app_context/sysloan/loanaccord/loanaccord/applicationContext.xml,
			/WEB-INF/app_context/sysloan/loanaccord/printplan/applicationContext.xml,
			/WEB-INF/app_context/sysloan/loanapply/delcontract/applicationContext.xml,
			/WEB-INF/app_context/sysloan/loanapply/endorsecontract/applicationContext.xml,
			/WEB-INF/app_context/sysloan/loanapply/giveacc/applicationContext.xml,
			/WEB-INF/app_context/sysloan/loanapply/issuenotice/applicationContext.xml,
			/WEB-INF/app_context/sysloan/loanapply/loanapply/applicationContext.xml,
			/WEB-INF/app_context/sysloan/loanapply/loandelete/applicationContext.xml,
			/WEB-INF/app_context/sysloan/loanapply/loancheck/applicationContext.xml,
			/WEB-INF/app_context/sysloan/loanapply/personalloancalc/applicationContext.xml,
			/WEB-INF/app_context/sysloan/loanapply/loanfirstcheck/applicationContext.xml,
			/WEB-INF/app_context/sysloan/loanapply/loanvipcheck/applicationContext.xml,
			/WEB-INF/app_context/sysloan/loanapply/receiveacc/applicationContext.xml,
			/WEB-INF/app_context/sysloan/loanapply/specialapply/applicationContext.xml,
			/WEB-INF/app_context/sysloan/loanapply/loanreturnedbyfund/applicationContext.xml,
			/WEB-INF/app_context/sysloan/loanapply/preloanrefr/applicationContext.xml,
			/WEB-INF/app_context/sysloan/loancallback/baddebtdestroy/applicationContext.xml,
			/WEB-INF/app_context/sysloan/loancallback/advancepayloan/applicationContext.xml,
			/WEB-INF/app_context/sysloan/loancallback/bankexports/applicationContext.xml,
			/WEB-INF/app_context/sysloan/loancallback/bankimports/applicationContext.xml,
			/WEB-INF/app_context/sysloan/loancallback/consultation/applicationContext.xml,
			/WEB-INF/app_context/sysloan/loancallback/contractchange/applicationContext.xml,
			/WEB-INF/app_context/sysloan/loancallback/destoryback/applicationContext.xml,
			/WEB-INF/app_context/sysloan/loancallback/loancallback/applicationContext.xml,
			/WEB-INF/app_context/sysloan/loancallback/loanerlogout/applicationContext.xml,
			/WEB-INF/app_context/sysloan/loancallback/relievecontract/applicationContext.xml,
			/WEB-INF/app_context/sysloan/specialbiz/fivelevelchg/applicationContext.xml,
			/WEB-INF/app_context/sysloan/common/biz/contractpop/applicationContext.xml,
			/WEB-INF/app_context/sysloan/common/biz/loankouaccpop/applicationContext.xml,
			/WEB-INF/app_context/sysloan/common/biz/assistantorgpop/applicationContext.xml,
			/WEB-INF/app_context/sysloan/common/biz/buildingpop/applicationContext.xml,
			/WEB-INF/app_context/sysloan/common/biz/emppop/applicationContext.xml,
			/WEB-INF/app_context/sysloan/common/biz/empaccountpop/applicationContext.xml,
			/WEB-INF/app_context/sysloan/common/biz/palindromeimpswitch/applicationContext.xml,
			/WEB-INF/app_context/sysloan/common/biz/orgpop/applicationContext.xml,
			/WEB-INF/app_context/sysloan/specialbiz/bailenrol/applicationContext.xml,
			/WEB-INF/app_context/sysloan/specialbiz/bailclearinterest/applicationContext.xml,
			/WEB-INF/app_context/sysloan/specialbiz/bailpickup/applicationContext.xml,
			/WEB-INF/app_context/sysloan/dataready/collloanbackpara/applicationContext.xml,
			/WEB-INF/app_context/sysloan/querystatistics/datareadyquery/assistantorg/applicationContext.xml,
			/WEB-INF/app_context/sysloan/querystatistics/datareadyquery/aheadreturnparamquery/applicationContext.xml,
			/WEB-INF/app_context/sysloan/querystatistics/datareadyquery/empolderquery/applicationContext.xml,
			/WEB-INF/app_context/sysloan/querystatistics/querystatistics/assuremode/applicationContext.xml,
			/WEB-INF/app_context/sysloan/querystatistics/querystatistics/loandeskaccquery/applicationContext.xml,
			/WEB-INF/app_context/sysloan/querystatistics/querystatistics/fivelevelquery/applicationContext.xml,
			/WEB-INF/app_context/sysloan/querystatistics/querystatistics/overduequery/applicationContext.xml,
			/WEB-INF/app_context/sysloan/querystatistics/datareadyquery/paramquery/applicationContext.xml,
			/WEB-INF/app_context/sysloan/querystatistics/datareadyquery/bankquery/applicationContext.xml,
			/WEB-INF/app_context/sysloan/querystatistics/loanbusiquery/loancontractquery/applicationContext.xml,
			/WEB-INF/app_context/sysloan/querystatistics/loanbusiquery/loanbusiflowquery/applicationContext.xml,
			/WEB-INF/app_context/sysloan/querystatistics/queryoperationlog/applicationContext.xml,
			/WEB-INF/app_context/sysloan/querystatistics/loanaccountquery/principaltotalacc/applicationContext.xml,
			/WEB-INF/app_context/sysloan/querystatistics/querystatistics/querycongeallog/applicationContext.xml,
			/WEB-INF/app_context/sysloan/querystatistics/loanbusiquery/assureborrowerquery/applicationContext.xml,
			/WEB-INF/app_context/sysloan/querystatistics/checkqueryplfn/applicationContext.xml,
			/WEB-INF/app_context/sysloan/systemmaintain/hafoperateLog/applicationContext.xml,
			/WEB-INF/app_context/sysloan/loanapply/loanlastsure/applicationContext.xml,
			/WEB-INF/app_context/sysloan/querystatistics/loanbackbyfund/loanxieyi/applicationContext.xml,
			/WEB-INF/app_context/sysloan/querystatistics/loanbackbyfund/loanback/applicationContext.xml,
			/WEB-INF/app_context/sysloan/querystatistics/loanbackbyfund/loanbackbyfund/applicationContext.xml,
			/WEB-INF/app_context/sysfinance/accmng/bankdayclearreprot/applicationContext.xml,
			/WEB-INF/app_context/sysfinance/accmng/cashdayclearreport/applicationContext.xml,
			/WEB-INF/app_context/sysfinance/accmng/listacc/applicationContext.xml,
			/WEB-INF/app_context/sysfinance/accmng/sequenceacc/applicationContext.xml,
			/WEB-INF/app_context/sysfinance/accmng/subjectbalance/applicationContext.xml,
			/WEB-INF/app_context/sysfinance/accmng/subjectdayreport/applicationContext.xml,
			/WEB-INF/app_context/sysfinance/accmng/subjectmuster/applicationContext.xml,
			/WEB-INF/app_context/sysfinance/accmng/totleacc/applicationContext.xml,
			/WEB-INF/app_context/sysfinance/accounthandle/credencecheck/applicationContext.xml,
			/WEB-INF/app_context/sysfinance/accounthandle/credenceclear/applicationContext.xml,
			/WEB-INF/app_context/sysfinance/accounthandle/credencefillin/applicationContext.xml,
			/WEB-INF/app_context/sysfinance/accounthandle/credenceInspection/applicationContext.xml,
			/WEB-INF/app_context/sysfinance/bookmng/bookstart/applicationContext.xml,
			/WEB-INF/app_context/sysfinance/bookmng/createbook/applicationContext.xml,
			/WEB-INF/app_context/sysfinance/bookmng/credencechar/applicationContext.xml,
			/WEB-INF/app_context/sysfinance/bookmng/credencemodle/applicationContext.xml,
			/WEB-INF/app_context/sysfinance/bookmng/datainitialize/applicationContext.xml,
			/WEB-INF/app_context/sysfinance/bookmng/settleincanddec/applicationContext.xml,
			/WEB-INF/app_context/sysfinance/bookmng/settlemodle/applicationContext.xml,
			/WEB-INF/app_context/sysfinance/bookmng/subject/applicationContext.xml,
			/WEB-INF/app_context/sysfinance/bookmng/subjectrelation/applicationContext.xml,
			/WEB-INF/app_context/sysfinance/bookmng/summary/applicationContext.xml,
			/WEB-INF/app_context/sysfinance/common/biz/subjectpop/applicationContext.xml,
			/WEB-INF/app_context/sysfinance/reportmng/financereport/createreport/applicationContext.xml,
			/WEB-INF/app_context/sysfinance/reportmng/financereport/definereport/applicationContext.xml,
			/WEB-INF/app_context/sysfinance/reportmng/financereport/queryreport/applicationContext.xml,
			/WEB-INF/app_context/sysfinance/treasurermng/balanceinitialize/applicationContext.xml,
			/WEB-INF/app_context/sysfinance/treasurermng/bankcheckacc/applicationContext.xml,
			/WEB-INF/app_context/sysfinance/treasurermng/bankdayclear/applicationContext.xml,
			/WEB-INF/app_context/sysfinance/treasurermng/cashdayclear/applicationContext.xml,
			/WEB-INF/app_context/sysfinance/treasurermng/depositcheckacc/applicationContext.xml,
			/WEB-INF/app_context/sysfinance/treasurermng/accountclear/applicationContext.xml,
			/WEB-INF/app_context/sysfinance/common/biz/credencepop/applicationContext.xml,
			/WEB-INF/app_context/sysfinance/common/biz/queryflow/applicationContext.xml,
			/WEB-INF/app_context/sysfinance/accounthandle/dayclear/applicationContext.xml,
			/WEB-INF/app_context/sysfinance/systemmaintain/queryoperationlog/applicationContext.xml,
			/WEB-INF/app_context/sysfinance/systemmaintain/hafoperateLog/applicationContext.xml,
			/WEB-INF/app_context/signjoint/applicationContext-dao.xml,
			/WEB-INF/app_context/signjoint/applicationContext.xml,
			/WEB-INF/app_context/sendmail/applicationContext-dao.xml,
			/WEB-INF/app_context/sendmail/sendmail/applicationContext.xml,
			/WEB-INF/app_context/syscollection/systemmaintain/loanpara/applicationContext.xml,
			/WEB-INF/app_context/sysloan/loanapply/beforeloanadvisory/applicationContext.xml,
			/WEB-INF/app_context/sysloan/querystatistics/querystatistics/queryPayOffRecords/applicationContext.xml,
			/WEB-INF/app_context/sysloan/querystatistics/querystatistics/yearloancontrast/applicationContext.xml,
			/WEB-INF/app_context/sysloan/loanapply/othersloan/applicationContext.xml
		</param-value>
	</context-param>
	<!-- <filter> <filter-name>Acegi Filter Chain Proxy</filter-name> <filter-class> 
		net.sf.acegisecurity.util.FilterToBeanProxy </filter-class> <init-param> 
		<param-name>targetBean</param-name> <param-value> filterChainProxy </param-value> 
		</init-param> <init-param> <param-name>init</param-name> <param-value>lazy</param-value> 
		</init-param> </filter> -->
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>
			org.springframework.web.filter.CharacterEncodingFilter
		</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- <filter-mapping> <filter-name>Acegi Filter Chain Proxy</filter-name> 
		<url-pattern>/*</url-pattern> </filter-mapping> -->
	<listener>
		<listener-class>
			org.springframework.web.context.ContextLoaderListener
		</listener-class>
	</listener>

	<servlet>
		<servlet-name>action</servlet-name>
		<servlet-class>
			org.apache.struts.action.ActionServlet
		</servlet-class>
		<init-param>
			<param-name>config</param-name>
			<param-value>
				/WEB-INF/struts_config/struts-config.xml
			</param-value>
		</init-param>
		<init-param>
			<param-name>config/security</param-name>
			<param-value>
				/WEB-INF/struts_config/security/struts-config.xml
			</param-value>
		</init-param>
		<init-param>
			<param-name>config/orgstrct</param-name>
			<param-value>
				/WEB-INF/struts_config/orgstrct/struts-config.xml
			</param-value>
		</init-param>

		<init-param>
			<param-name>config/demo</param-name>
			<param-value>
				/WEB-INF/struts_config/demo/struts-config-demo.xml
			</param-value>
		</init-param>

		<init-param>
			<param-name>config/syscollection/accounthandle/adjustaccount</param-name>
			<param-value>
				/WEB-INF/struts_config/syscollection/accounthandle/adjustaccount/struts-config-adjustaccount.xml
			</param-value>
		</init-param>

		<init-param>
			<param-name>config/syscollection/accounthandle/orgveraccountbalance</param-name>
			<param-value>
				/WEB-INF/struts_config/syscollection/accounthandle/orgveraccountbalance/struts-config-coll-orgveraccountbalance.xml
			</param-value>
		</init-param>
		<init-param>
			<param-name>config/syscollection/accounthandle/queryorgversionint</param-name>
			<param-value>
				/WEB-INF/struts_config/syscollection/accounthandle/queryorgversionint/struts-config-coll-queryorgversionint.xml
			</param-value>
		</init-param>
		<init-param>
			<param-name>config/syscollection/accounthandle/bizcheck</param-name>
			<param-value>
				/WEB-INF/struts_config/syscollection/accounthandle/bizcheck/struts-config-coll-bizcheck.xml
			</param-value>
		</init-param>

		<init-param>
			<param-name>config/syscollection/accounthandle/clearaccount</param-name>
			<param-value>
				/WEB-INF/struts_config/syscollection/accounthandle/clearaccount/struts-config-coll-clearaccount.xml
			</param-value>
		</init-param>

		<init-param>
			<param-name>config/syscollection/accounthandle/clearinterest</param-name>
			<param-value>
				/WEB-INF/struts_config/syscollection/accounthandle/clearinterest/struts-config-coll-clearinterest.xml
			</param-value>
		</init-param>

		<init-param>
			<param-name>config/syscollection/accounthandle/ratemng</param-name>
			<param-value>
				/WEB-INF/struts_config/syscollection/accounthandle/ratemng/struts-config-coll-ratemng.xml
			</param-value>
		</init-param>

		<init-param>
			<param-name>config/syscollection/accounthandle/dayclear</param-name>
			<param-value>
				/WEB-INF/struts_config/syscollection/accounthandle/dayclear/struts-config-coll-dayclear.xml
			</param-value>
		</init-param>
		<init-param>
			<param-name>config/syscollection/accounthandle/monthclear</param-name>
			<param-value>
				/WEB-INF/struts_config/syscollection/accounthandle/monthclear/struts-config-coll-monthclear.xml
			</param-value>
		</init-param>
		<init-param>
			<param-name>config/syscollection/accountmng/accountchg</param-name>
			<param-value>
				/WEB-INF/struts_config/syscollection/accountmng/accountchg/struts-config-coll-accountchg.xml
			</param-value>
		</init-param>

		<init-param>
			<param-name>config/syscollection/collloanbackcheck</param-name>
			<param-value>
				/WEB-INF/struts_config/syscollection/collloanbackcheck/struts-config-coll-backcheck.xml
			</param-value>
		</init-param>

		<init-param>
			<param-name>config/syscollection/accountmng/accountopen</param-name>
			<param-value>
				/WEB-INF/struts_config/syscollection/accountmng/accountopen/struts-config-coll-accountopen.xml
			</param-value>
		</init-param>

		<init-param>
			<param-name>config/syscollection/chgbiz/chgorgrate</param-name>
			<param-value>
				/WEB-INF/struts_config/syscollection/chgbiz/chgorgrate/struts-config-coll-chgorgrate.xml
			</param-value>
		</init-param>
		<init-param>
			<param-name>config/syscollection/chgbiz/chgpay</param-name>
			<param-value>
				/WEB-INF/struts_config/syscollection/chgbiz/chgpay/struts-config-coll-chgpay.xml
			</param-value>
		</init-param>
		<init-param>
			<param-name>config/syscollection/chgbiz/chgperson</param-name>
			<param-value>
				/WEB-INF/struts_config/syscollection/chgbiz/chgperson/struts-config-coll-chgperson.xml
			</param-value>
		</init-param>
		<init-param>
			<param-name>config/syscollection/chgbiz/chgslarybase</param-name>
			<param-value>
				/WEB-INF/struts_config/syscollection/chgbiz/chgslarybase/struts-config-coll-chgslarybase.xml
			</param-value>
		</init-param>
		<init-param>
			<param-name>config/syscollection/paymng/monthpay</param-name>
			<param-value>
				/WEB-INF/struts_config/syscollection/paymng/monthpay/struts-config-coll-monthpay.xml
			</param-value>
		</init-param>

		<init-param>
			<param-name>config/syscollection/paymng/orgaddpay</param-name>
			<param-value>
				/WEB-INF/struts_config/syscollection/paymng/orgaddpay/struts-config-coll-orgaddpay.xml
			</param-value>
		</init-param>

		<init-param>
			<param-name>config/syscollection/paymng/orgoverpay</param-name>
			<param-value>
				/WEB-INF/struts_config/syscollection/paymng/orgoverpay/struts-config-coll-orgoverpay.xml
			</param-value>
		</init-param>

		<init-param>
			<param-name>config/syscollection/paymng/paysure</param-name>
			<param-value>
				/WEB-INF/struts_config/syscollection/paymng/paysure/struts-config-coll-paysure.xml
			</param-value>
		</init-param>

		<init-param>
			<param-name>config/syscollection/paymng/personaddpay</param-name>
			<param-value>
				/WEB-INF/struts_config/syscollection/paymng/personaddpay/struts-config-coll-personaddpay.xml
			</param-value>
		</init-param>

		<init-param>
			<param-name>config/syscollection/pickupmng/pickup</param-name>
			<param-value>
				/WEB-INF/struts_config/syscollection/pickupmng/pickup/struts-config-coll-pickup.xml
			</param-value>
		</init-param>

		<init-param>
			<param-name>config/syscollection/pickupmng/specialpickup</param-name>
			<param-value>
				/WEB-INF/struts_config/syscollection/pickupmng/specialpickup/struts-config-coll-specialpickup.xml
			</param-value>
		</init-param>

		<init-param>
			<param-name>config/syscollection/tranmng/tranin</param-name>
			<param-value>
				/WEB-INF/struts_config/syscollection/tranmng/tranin/struts-config-coll-tranin.xml
			</param-value>
		</init-param>

		<init-param>
			<param-name>config/syscollection/tranmng/tranout</param-name>
			<param-value>
				/WEB-INF/struts_config/syscollection/tranmng/tranout/struts-config-coll-tranout.xml
			</param-value>
		</init-param>
		<init-param>
			<param-name>config/syscollection/common/biz/orgpop</param-name>
			<param-value>
				/WEB-INF/struts_config/syscollection/common/biz/orgpop/struts-config-coll-comm-orgpop.xml
			</param-value>
		</init-param>
		<init-param>
			<param-name>config/syscollection/common/biz/emppop</param-name>
			<param-value>
				/WEB-INF/struts_config/syscollection/common/biz/emppop/struts-config-coll-comm-emppop.xml
			</param-value>
		</init-param>
		<init-param>
			<param-name>config/syscollection/accountmng/accountopen</param-name>
			<param-value>
				/WEB-INF/struts_config/syscollection/accountmng/accountopen/struts-config-coll-accountopen.xml
			</param-value>
		</init-param>
		<init-param>
			<param-name>config/syscollection/querystatistics/baseinfosearch/empbaseexport</param-name>
			<param-value>
				/WEB-INF/struts_config/syscollection/querystatistics/baseinfosearch/empbaseexport/struts-config-coll-empbaseexport.xml
			</param-value>
		</init-param>
		<init-param>
			<param-name>config/syscollection/querystatistics/baseinfosearch/modifyaccount</param-name>
			<param-value>
				/WEB-INF/struts_config/syscollection/querystatistics/baseinfosearch/modifyaccount/struts-config-coll-modifyaccount.xml
			</param-value>
		</init-param>
		<init-param>
			<param-name>config/syscollection/querystatistics/baseinfosearch/empbaseinfo</param-name>
			<param-value>
				/WEB-INF/struts_config/syscollection/querystatistics/baseinfosearch/empbaseinfo/struts-config-coll-empbaseinfo.xml
			</param-value>
		</init-param>
		<init-param>
			<param-name>config/syscollection/querystatistics/baseinfosearch/orgbaseinfo</param-name>
			<param-value>
				/WEB-INF/struts_config/syscollection/querystatistics/baseinfosearch/orgbaseinfo/struts-config-coll-orgbaseinfo.xml
			</param-value>
		</init-param>
		<init-param>
			<param-name>config/syscollection/querystatistics/baseinfosearch/orgcollinfo</param-name>
			<param-value>
				/WEB-INF/struts_config/syscollection/querystatistics/baseinfosearch/orgcollinfo/struts-config-coll-orgcollinfo.xml
			</param-value>
		</init-param>
		<init-param>
			<param-name>config/syscollection/querystatistics/operationflow/empoperationflow</param-name>
			<param-value>
				/WEB-INF/struts_config/syscollection/querystatistics/operationflow/empoperationflow/struts-config-coll-empoperationflow.xml
			</param-value>
		</init-param>
		<init-param>
			<param-name>config/syscollection/querystatistics/operationflow/orgoperationflow</param-name>
			<param-value>
				/WEB-INF/struts_config/syscollection/querystatistics/operationflow/orgoperationflow/struts-config-coll-orgoperationflow.xml
			</param-value>
		</init-param>

		<init-param>
			<param-name>config/syscollection/querystatistics/accountinfo/empaccountinfo</param-name>
			<param-value>
				/WEB-INF/struts_config/syscollection/querystatistics/accountinfo/empaccountinfo/struts-config-coll-empaccountinfo.xml
			</param-value>
		</init-param>

		<init-param>
			<param-name>config/syscollection/querystatistics/accountinfo/orgaccountinfo</param-name>
			<param-value>
				/WEB-INF/struts_config/syscollection/querystatistics/accountinfo/orgaccountinfo/struts-config-coll-orgaccountinfo.xml
			</param-value>
		</init-param>
		<init-param>
			<param-name>config/syscollection/querystatistics/collbyfund</param-name>
			<param-value>
				/WEB-INF/struts_config/syscollection/querystatistics/collbyfund/struts-config-coll-collbyfund.xml
			</param-value>
		</init-param>

		<init-param>
			<param-name>config/syscollection/querystatistics/paymentpickstatistics/orgpaymentstatistics</param-name>
			<param-value>
				/WEB-INF/struts_config/syscollection/querystatistics/paymentpickstatistics/orgpaymentstatistics/struts-config-coll-orgpaymentstatistics.xml
			</param-value>
		</init-param>
		<init-param>
			<param-name>config/syscollection/querystatistics/paymentpickstatistics/collectionstatistics</param-name>
			<param-value>
				/WEB-INF/struts_config/syscollection/querystatistics/paymentpickstatistics/collectionstatistics/struts-config-coll-collectionstatistics.xml
			</param-value>
		</init-param>
		<init-param>
			<param-name>config/syscollection/querystatistics/paymentpickstatistics/searchLackInfo</param-name>
			<param-value>
				/WEB-INF/struts_config/syscollection/querystatistics/paymentpickstatistics/searchLackInfo/struts-config-coll-searchLackInfo.xml
			</param-value>
		</init-param>
		<init-param>
			<param-name>config/syscollection/querystatistics/paymentpickstatistics/pickupreason</param-name>
			<param-value>
				/WEB-INF/struts_config/syscollection/querystatistics/paymentpickstatistics/pickupreason/struts-config-coll-pickupreason.xml
			</param-value>
		</init-param>
		<init-param>
			<param-name>config/syscollection/querystatistics/paymentpickstatistics/pastyearscontrast</param-name>
			<param-value>
				/WEB-INF/struts_config/syscollection/querystatistics/paymentpickstatistics/pastyearscontrast/struts-config-coll-pastyearscontrast.xml
			</param-value>
		</init-param>
		<init-param>
			<param-name>config/syscollection/querystatistics/paymentpickstatistics/orginandoutschedule</param-name>
			<param-value>
				/WEB-INF/struts_config/syscollection/querystatistics/paymentpickstatistics/orginandoutschedule/struts-config-coll-orginandoutschedule.xml
			</param-value>
		</init-param>

		<init-param>
			<param-name>config/syscollection/querystatistics/paymentpickstatistics/paymntmonthreport</param-name>
			<param-value>
				/WEB-INF/struts_config/syscollection/querystatistics/paymentpickstatistics/paymntmonthreport/struts-config-coll-paymntmonthreport.xml
			</param-value>
		</init-param>
		<init-param>
			<param-name>config/syscollection/querystatistics/paymentpickstatistics/paymentyearreport</param-name>
			<param-value>
				/WEB-INF/struts_config/syscollection/querystatistics/paymentpickstatistics/paymentyearreport/struts-config-coll-paymentyearreport.xml
			</param-value>
		</init-param>
		<init-param>
			<param-name>config/syscollection/querystatistics/paymentpickstatistics/pickmonthreport</param-name>
			<param-value>
				/WEB-INF/struts_config/syscollection/querystatistics/paymentpickstatistics/pickmonthreport/struts-config-coll-pickmonthreport.xml
			</param-value>
		</init-param>
		<init-param>
			<param-name>config/syscollection/querystatistics/paymentpickstatistics/pickyearreport</param-name>
			<param-value>
				/WEB-INF/struts_config/syscollection/querystatistics/paymentpickstatistics/pickyearreport/struts-config-coll-pickyearreport.xml
			</param-value>
		</init-param>
		<!-- 归集支取明细 -->
		<init-param>
			<param-name>config/syscollection/querystatistics/paymentpickdetail</param-name>
			<param-value>
				/WEB-INF/struts_config/syscollection/querystatistics/paymentpickdetail/struts-config-coll-paymentpickdetail.xml
			</param-value>
		</init-param>
		<init-param>
			<param-name>config/syscollection/querystatistics/chgbiz/chgperson</param-name>
			<param-value>
				/WEB-INF/struts_config/syscollection/querystatistics/chgbiz/chgperson/struts-config-coll-querychgperson.xml
			</param-value>
		</init-param>

		<init-param>
			<param-name>config/syscollection/querystatistics/chgbiz/chgslarybase</param-name>
			<param-value>
				/WEB-INF/struts_config/syscollection/querystatistics/chgbiz/chgslarybase/struts-config-coll-chgslarybase.xml
			</param-value>
		</init-param>

		<init-param>
			<param-name>config/syscollection/querystatistics/chgbiz/chgorgrate</param-name>
			<param-value>
				/WEB-INF/struts_config/syscollection/querystatistics/chgbiz/chgorgrate/struts-config-coll-chgorgrate.xml
			</param-value>
		</init-param>

		<init-param>
			<param-name>config/syscollection/querystatistics/chgbiz/chgpay</param-name>
			<param-value>
				/WEB-INF/struts_config/syscollection/querystatistics/chgbiz/chgpay/struts-config-coll-chgpay.xml
			</param-value>
		</init-param>

		<init-param>
			<param-name>config/syscollection/querystatistics/clearinterestinfo/yearclearstatistics</param-name>
			<param-value>
				/WEB-INF/struts_config/syscollection/querystatistics/clearinterestinfo/yearclearstatistics/struts-config-coll-yearclearstatistics.xml
			</param-value>
		</init-param>
		<init-param>
			<param-name>config/syscollection/paymng/agent</param-name>
			<param-value>
				/WEB-INF/struts_config/syscollection/paymng/agent/struts-config-coll-agent.xml
			</param-value>
		</init-param>


		<init-param>
			<param-name>config/syscollection/collloanback</param-name>
			<param-value>
				/WEB-INF/struts_config/syscollection/collloanback/struts-config-coll-collloanback.xml
			</param-value>
		</init-param>

		<init-param>
			<param-name>config/syscollection/common/biz/loankoupop</param-name>
			<param-value>
				/WEB-INF/struts_config/syscollection/common/biz/loankoupop/struts-config-coll-loankoupop.xml
			</param-value>
		</init-param>



		<init-param>
			<param-name>config/syscollection/systemmaintain/hafoperateLog</param-name>
			<param-value>
				/WEB-INF/struts_config/syscollection/systemmaintain/hafoperateLog/struts-config-coll-hafoperateLog.xml
			</param-value>
		</init-param>
		<init-param>
			<param-name>config/syscollection/systemmaintain/loanpara</param-name>
			<param-value>
				/WEB-INF/struts_config/syscollection/systemmaintain/loanpara/struts-config-coll-loanpara.xml
			</param-value>
		</init-param>
		<init-param>
			<param-name>config/syscollection/accountmng/officeparam</param-name>
			<param-value>
				/WEB-INF/struts_config/syscollection/accountmng/officeparam/struts-config-coll-officeparam.xml
			</param-value>
		</init-param>
		<init-param>
			<param-name>config/syscollection/querystatistics/logsearch/businesslogsearch</param-name>
			<param-value>
				/WEB-INF/struts_config/syscollection/querystatistics/logsearch/businesslogsearch/struts-config-coll-businesslogsearch.xml
			</param-value>
		</init-param>

		<init-param>
			<param-name>config/syscommon/checkclearaccount</param-name>
			<param-value>
				/WEB-INF/struts_config/syscommon/checkclearaccount/struts-config-comm-checkclearaccount.xml
			</param-value>
		</init-param>

		<init-param>
			<param-name>config/syscollection/querystatistics/cumulativeinfo</param-name>
			<param-value>
				/WEB-INF/struts_config/syscollection/querystatistics/cumulativeinfo/struts-config-coll-cumulativeinfo.xml
			</param-value>
		</init-param>
		<!-- bit add -->
		<init-param>
			<param-name>config/syscollection/querystatistics/inspection</param-name>
			<param-value>
				/WEB-INF/struts_config/syscollection/querystatistics/inspection/struts-config-coll-Inspection.xml
			</param-value>
		</init-param>

		<init-param>
			<param-name>config/syscollection/querystatistics/collectionuseinfo</param-name>
			<param-value>
				/WEB-INF/struts_config/syscollection/querystatistics/collectionuseinfo/struts-config-coll-collectionuseinfo.xml
			</param-value>
		</init-param>

		<init-param>
			<param-name>config/syscollection/peoplebank/documents</param-name>
			<param-value>
				/WEB-INF/struts_config/syscollection/peoplebank/documents/struts-config-coll-peoplebank-documents.xml
			</param-value>
		</init-param>

		<init-param>
			<param-name>config/syscollection/peoplebank/documentstop</param-name>
			<param-value>
				/WEB-INF/struts_config/syscollection/peoplebank/documentstop/struts-config-coll-peoplebank-documentstop.xml
			</param-value>
		</init-param>

		<init-param>
			<param-name>config/syscollection/peoplebank/param</param-name>
			<param-value>
				/WEB-INF/struts_config/syscollection/peoplebank/param/struts-config-coll-peoplebank-param.xml
			</param-value>
		</init-param>

		<init-param>
			<param-name>config/syscollection/pickupmng/partpickupcondition</param-name>
			<param-value>
				/WEB-INF/struts_config/syscollection/pickupmng/partpickupcondition/struts-config-coll-partpickupcondition.xml
			</param-value>
		</init-param>

		<init-param>
			<param-name>config/syscollection/chgbiz/autochangeparam</param-name>
			<param-value>
				/WEB-INF/struts_config/syscollection/chgbiz/autochangeparam/struts-config-coll-autochangeparam.xml
			</param-value>
		</init-param>
		<init-param>
			<param-name>config/syscollection/querystatistics/collfncomparison</param-name>
			<param-value>
				/WEB-INF/struts_config/syscollection/querystatistics/collfncomparison/struts-config-coll-collfncomparison.xml
			</param-value>
		</init-param>
		<!-- ld_add -->
		<init-param>
			<param-name>config/syscollection/pickupmng/pickupwh</param-name>
			<param-value>
				/WEB-INF/struts_config/syscollection/pickupmng/pickupwh/struts-config-coll-pickupwh.xml
			</param-value>
		</init-param>
		<init-param>
			<param-name>config/syscollection/querystatistics/chgbiz/chgbizinfo</param-name>
			<param-value>
				/WEB-INF/struts_config/syscollection/querystatistics/chgbiz/chgbizinfo/struts-config-coll-chgbizinfo.xml
			</param-value>
		</init-param>
		<init-param>
			<param-name>config/sysloan</param-name>
			<param-value>
				/WEB-INF/struts_config/sysloan/struts-config-loan-dataready-loanpara.xml,
				/WEB-INF/struts_config/sysloan/struts-config-loan-assistantorg.xml,
				/WEB-INF/struts_config/sysloan/struts-config-loan-bank.xml,
				/WEB-INF/struts_config/sysloan/struts-config-loan-develop.xml,
				/WEB-INF/struts_config/sysloan/struts-config-loan-param.xml,
				/WEB-INF/struts_config/sysloan/struts-config-loan-rate.xml,
				/WEB-INF/struts_config/sysloan/struts-config-loan-dataready-ratetype.xml,
				/WEB-INF/struts_config/sysloan/struts-config-loan-loanaccord.xml,
				/WEB-INF/struts_config/sysloan/struts-config-loan-printplan.xml,
				/WEB-INF/struts_config/sysloan/struts-config-loan-delcontract.xml,
				/WEB-INF/struts_config/sysloan/struts-config-loan-endorsecontract.xml,
				/WEB-INF/struts_config/sysloan/struts-config-loan-giveacc.xml,
				/WEB-INF/struts_config/sysloan/struts-config-loan-issuenotice.xml,
				/WEB-INF/struts_config/sysloan/struts-config-loan-loanapply.xml,
				/WEB-INF/struts_config/sysloan/struts-config-loan-loandelete.xml,
				/WEB-INF/struts_config/sysloan/struts-config-loan-loancheck.xml,
				/WEB-INF/struts_config/sysloan/struts-config-loan-credit.xml,
				/WEB-INF/struts_config/sysloan/struts-config-loan-personalloancalc.xml,
				/WEB-INF/struts_config/sysloan/struts-config-loan-loanfirstcheck.xml,
				/WEB-INF/struts_config/sysloan/struts-config-loan-receiveacc.xml,
				/WEB-INF/struts_config/sysloan/struts-config-loan-specialapply.xml,
				/WEB-INF/struts_config/sysloan/struts-config-loan-adjustaccount.xml,
				/WEB-INF/struts_config/sysloan/struts-config-loan-assurepledgechg.xml,
				/WEB-INF/struts_config/sysloan/struts-config-loan-baddebtdestroy.xml,
				/WEB-INF/struts_config/sysloan/struts-config-loan-baseinfochg.xml,
				/WEB-INF/struts_config/sysloan/struts-config-loan-bizcheck.xml,
				/WEB-INF/struts_config/sysloan/struts-config-loan-preloanrefr.xml,
				/WEB-INF/struts_config/sysloan/struts-config-loan-clearaccount.xml,
				/WEB-INF/struts_config/sysloan/struts-config-loan-clearoverdue.xml,
				/WEB-INF/struts_config/sysloan/struts-config-loan-destoryback.xml,
				/WEB-INF/struts_config/sysloan/struts-config-loan-fivelevelchg.xml,
				/WEB-INF/struts_config/sysloan/struts-config-loan-bankexports.xml,
				/WEB-INF/struts_config/sysloan/struts-config-loan-bankimports.xml,
				/WEB-INF/struts_config/sysloan/struts-config-loan-consultation.xml,
				/WEB-INF/struts_config/sysloan/struts-config-loan-loancallback.xml,
				/WEB-INF/struts_config/sysloan/struts-config-loan-loanerlogout.xml,
				/WEB-INF/struts_config/sysloan/struts-config-loan-overpay.xml,
				/WEB-INF/struts_config/sysloan/struts-config-loan-relievecontract.xml,
				/WEB-INF/struts_config/sysloan/struts-config-loan-specialinfochg.xml,
				/WEB-INF/struts_config/sysloan/struts-config-loan-comm-contract.xml,
				/WEB-INF/struts_config/sysloan/struts-config-loan-comm-loankouacc.xml,
				/WEB-INF/struts_config/sysloan/struts-config-loan-comm-assistantorg.xml,
				/WEB-INF/struts_config/sysloan/struts-config-loan-loanvipcheck.xml,
				/WEB-INF/struts_config/sysloan/struts-config-loan-bailenrol.xml,
				/WEB-INF/struts_config/sysloan/struts-config-loan-bailclearinterest.xml,
				/WEB-INF/struts_config/sysloan/struts-config-loan-bailpickup.xml,
				/WEB-INF/struts_config/sysloan/struts-config-loan-comm-emppop.xml,
				/WEB-INF/struts_config/sysloan/struts-config-loan-comm-empaccountpop.xml,
				/WEB-INF/struts_config/sysloan/struts-config-loan-comm-buildingpop.xml,
				/WEB-INF/struts_config/sysloan/struts-config-loan-query-assistantorg.xml,
				/WEB-INF/struts_config/sysloan/struts-config-loan-query-aheadreturnparamquery.xml,
				/WEB-INF/struts_config/sysloan/struts-config-loan-query-paramquery.xml,
				/WEB-INF/struts_config/sysloan/struts-config-loan-query-assuremode.xml,
				/WEB-INF/struts_config/sysloan/struts-config-loan-query-bankquery.xml,
				/WEB-INF/struts_config/sysloan/struts-config-loan-query-empolderquery.xml,
				/WEB-INF/struts_config/sysloan/struts-config-loan-query-loancontractquery.xml,
				/WEB-INF/struts_config/sysloan/struts-config-loan-query-loanbusiflowquery.xml,
				/WEB-INF/struts_config/sysloan/struts-config-loan-query-principaltotalacc.xml,
				/WEB-INF/struts_config/sysloan/struts-config-loan-query-interesttotalacc.xml,
				/WEB-INF/struts_config/sysloan/struts-config-loan-query-loandeskaccquery.xml,
				/WEB-INF/struts_config/sysloan/struts-config-loan-query-fivelevelquery.xml,
				/WEB-INF/struts_config/sysloan/struts-config-loan-query-overduequery.xml,
				/WEB-INF/struts_config/sysloan/struts-config-loan-query-assureborrowerquery.xml,
				/WEB-INF/struts_config/sysloan/struts-config-loan-carryforward.xml,
				/WEB-INF/struts_config/sysloan/struts-config-loan-daymonthclear.xml,
				/WEB-INF/struts_config/sysloan/struts-config-loan-bankpalindrome.xml,
				/WEB-INF/struts_config/sysloan/struts-config-loan-palindromeformat.xml,
				/WEB-INF/struts_config/sysloan/struts-config-loan-collloanbackpara.xml,
				/WEB-INF/struts_config/sysloan/struts-config-loan-loanreturnedbyfund.xml,
				/WEB-INF/struts_config/sysloan/struts-config-loan-queryoperatorlog.xml,
				/WEB-INF/struts_config/sysloan/struts-config-loan-query-querycongeallog.xml,
				/WEB-INF/struts_config/sysloan/struts-config-loan-comm-orgpop.xml,
				/WEB-INF/struts_config/sysloan/struts-config-loan-dataready-loanconditionsset.xml,
				/WEB-INF/struts_config/sysloan/struts-config-coll-hafoperateLog.xml,
				/WEB-INF/struts_config/sysloan/struts-config-loan-checkqueryplfn.xml,
				/WEB-INF/struts_config/sysloan/struts-config-loan-beforeloanadvisory.xml,
				/WEB-INF/struts_config/sysloan/struts-config-loan-query-querypayoffrecords.xml,
				/WEB-INF/struts_config/sysloan/struts-config-loan-query-yearloancontrast.xml,
				/WEB-INF/struts_config/sysloan/struts-config-loan-advancepayloan.xml,
				/WEB-INF/struts_config/sysloan/struts-config-loan-query-yearloancontrast.xml,
				/WEB-INF/struts_config/sysloan/struts-config-loan-loanlastsure_1.xml,
				/WEB-INF/struts_config/sysloan/struts-config-loan-contractchange.xml,
				/WEB-INF/struts_config/sysloan/struts-config-loan-query-loanxieyi.xml,
				/WEB-INF/struts_config/sysloan/struts-config-loan-query-loanback.xml,
				/WEB-INF/struts_config/sysloan/struts-config-loan-query-loanbackbyfund.xml,
				/WEB-INF/struts_config/sysloan/struts-config-loan-othersloan.xml
			</param-value>
		</init-param>

		<init-param>
			<param-name>config/sysfinance</param-name>
			<param-value>
				/WEB-INF/struts_config/sysfinance/struts-config-fn-balanceinitialize.xml,
				/WEB-INF/struts_config/sysfinance/struts-config-fn-bankcheckacc.xml,
				/WEB-INF/struts_config/sysfinance/struts-config-fn-bankdayclear.xml,
				/WEB-INF/struts_config/sysfinance/struts-config-fn-bankdayclearreprot.xml,
				/WEB-INF/struts_config/sysfinance/struts-config-fn-bookstart.xml,
				/WEB-INF/struts_config/sysfinance/struts-config-fn-cashdayclear.xml,
				/WEB-INF/struts_config/sysfinance/struts-config-fn-cashdayclearreport.xml,
				/WEB-INF/struts_config/sysfinance/struts-config-fn-comm-subjectpop.xml,
				/WEB-INF/struts_config/sysfinance/struts-config-fn-createreport.xml,
				/WEB-INF/struts_config/sysfinance/struts-config-fn-definereport.xml,
				/WEB-INF/struts_config/sysfinance/struts-config-fn-queryreport.xml,
				/WEB-INF/struts_config/sysfinance/struts-config-fn-credencechar.xml,
				/WEB-INF/struts_config/sysfinance/struts-config-fn-credencecheck.xml,
				/WEB-INF/struts_config/sysfinance/struts-config-fn-credenceclear.xml,
				/WEB-INF/struts_config/sysfinance/struts-config-fn-credencefillin.xml,
				/WEB-INF/struts_config/sysfinance/struts-config-fn-credencemodle.xml,
				/WEB-INF/struts_config/sysfinance/struts-config-fn-datainitialize.xml,
				/WEB-INF/struts_config/sysfinance/struts-config-fn-depositcheckacc.xml,
				/WEB-INF/struts_config/sysfinance/struts-config-fn-listacc.xml,
				/WEB-INF/struts_config/sysfinance/struts-config-fn-sequenceacc.xml,
				/WEB-INF/struts_config/sysfinance/struts-config-fn-settleincanddec.xml,
				/WEB-INF/struts_config/sysfinance/struts-config-fn-settlemodle.xml,
				/WEB-INF/struts_config/sysfinance/struts-config-fn-subject.xml,
				/WEB-INF/struts_config/sysfinance/struts-config-fn-subjectbalance.xml,
				/WEB-INF/struts_config/sysfinance/struts-config-fn-subjectdayreport.xml,
				/WEB-INF/struts_config/sysfinance/struts-config-fn-subjectmuster.xml,
				/WEB-INF/struts_config/sysfinance/struts-config-fn-subjectrelation.xml,
				/WEB-INF/struts_config/sysfinance/struts-config-fn-summary.xml,
				/WEB-INF/struts_config/sysfinance/struts-config-fn-createbook.xml,
				/WEB-INF/struts_config/sysfinance/struts-config-fn-totleacc.xml,
				/WEB-INF/struts_config/sysfinance/struts-config-fn-credenceInspection.xml,
				/WEB-INF/struts_config/sysfinance/struts-config-fn-accountclear.xml,
				/WEB-INF/struts_config/sysfinance/struts-config-fn-comm-credencepop.xml,
				/WEB-INF/struts_config/sysfinance/struts-config-fn-comm-queryflow.xml,
				/WEB-INF/struts_config/sysfinance/struts-config-fn-daymonthclear.xml,
				/WEB-INF/struts_config/sysfinance/struts-config-fn-queryoperationlog.xml,
				/WEB-INF/struts_config/sysfinance/struts-config-fn-hafoperateLog.xml

			</param-value>
		</init-param>
		<init-param>
			<param-name>config/sendmail</param-name>
			<param-value>
				/WEB-INF/struts_config/sendmail/struts-config-mail-sendmail.xml
			</param-value>
		</init-param>

		<init-param>
			<param-name>debug</param-name>

			<param-value>3</param-value>
		</init-param>
		<init-param>
			<param-name>detail</param-name>
			<param-value>3</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>GenerateImageServlet</servlet-name>
		<servlet-class>
			org.xpup.security.wsf.acegiex.GenerateImageServlet
		</servlet-class>
		<init-param>
			<!-- 生成图片中的随机数的位数：4、6 -->
			<param-name>randomNumber.length</param-name>
			<param-value>6</param-value>
		</init-param>
		<init-param>
			<!-- 生成图片的策略算法：safe、fatest、faster -->
			<param-name>randomImage.strategy</param-name>
			<param-value>safe</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>ExportServlet</servlet-name>
		<servlet-class>org.xpup.common.util.exp.expservlet.ExportServlet</servlet-class>
	</servlet>
	<!--这是图片浏览用的 -->
	<servlet>
		<servlet-name>BrowseServlet</servlet-name>
		<servlet-class>jcifs.smb.PictureBrowseServlet</servlet-class>
	</servlet>
	<!--联名卡系统加载 -->
	<!-- <servlet> -->
	<!-- <servlet-name>communicate</servlet-name> -->
	<!-- <display-name>This is the display name of my J2EE component</display-name> -->
	<!-- <description>This is the description of my J2EE component</description> -->
	<!-- <servlet-class>org.xpup.hafmis.signjoint.servlet.Communicate</servlet-class> -->
	<!-- <load-on-startup>1</load-on-startup> -->
	<!-- </servlet> -->
	<servlet-mapping>
		<servlet-name>action</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ExportServlet</servlet-name>
		<url-pattern>/ExportServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GenerateImageServlet</servlet-name>
		<url-pattern>/generateimage</url-pattern>
	</servlet-mapping>
	<!--这是图片浏览用的 -->
	<servlet-mapping>
		<servlet-name>BrowseServlet</servlet-name>
		<url-pattern>/browse</url-pattern>
	</servlet-mapping>
	<!--Session 失效时间. -->
	<session-config>
		<session-timeout>60</session-timeout>
	</session-config>

	<welcome-file-list>
		<welcome-file>intosys.jsp</welcome-file>
		<welcome-file>login.do</welcome-file>
	</welcome-file-list>
	<jsp-config>
		<taglib>
			<taglib-uri>/WEB-INF/taglib/struts-bean.tld</taglib-uri>
			<taglib-location>
				/WEB-INF/taglib/struts-bean.tld
			</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>/WEB-INF/taglib/struts-html.tld</taglib-uri>
			<taglib-location>
				/WEB-INF/taglib/struts-html.tld
			</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>/WEB-INF/taglib/struts-logic.tld</taglib-uri>
			<taglib-location>
				/WEB-INF/taglib/struts-logic.tld
			</taglib-location>
		</taglib>
	</jsp-config>
	
	<!-- <resource-ref> <description>DB Connection</description> <res-ref-name>myDataSource</res-ref-name> 
		<res-type>javax.sql.DataSource</res-type> <res-auth>Container</res-auth> 
		</resource-ref> -->
</web-app>

