<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<!-- Application context definition for collection's business layer. -->
<beans>
	<!-- ========================= BUSINESS OBJECT DEFINITIONS ======================== -->
	<bean id="empAccountBS" parent="baseTransactionProxy">
		<property name="target">
			<bean
				class="org.xpup.hafmis.syscollection.querystatistics.accountinfo.empaccountinfo.business.EmpAccountBS">
				<property name="empHAFAccountFlowDAO">
					<ref bean="empHAFAccountFlowDAO" />
				</property>
			</bean>
		</property>
	</bean>
	<bean id="endorsecontractBS" parent="baseTransactionProxy">
		<property name="target">
			<bean
				class="org.xpup.hafmis.sysloan.loanapply.endorsecontract.business.EndorsecontractBS">
				<property name="loanBankParaDAO">
					<ref bean="loanBankParaDAO" />
				</property>
				<property name="borrowerDAO">
					<ref bean="borrowerDAO" />
				</property>
				<property name="borrowerAccDAO">
					<ref bean="borrowerAccDAO" />
				</property>
				<property name="borrowerLoanInfoDAO">
					<ref bean="borrowerLoanInfoDAO" />
				</property>
				<property name="loanContractDAO">
					<ref bean="loanContractDAO" />
				</property>
				<property name="plOperateLogDAO">
					<ref bean="plOperateLogDAO" />
				</property>
				<property name="collBankDAO">
					<ref bean="collBankDAO" />
				</property>
				<property name="pledgeContractDAO">
					<ref bean="pledgeContractDAO" />
				</property>
				<property name="assistantOrgDAO">
					<ref bean="assistantOrgDAO" />
				</property>
				<property name="housesDAO">
					<ref bean="housesDAO" />
				</property>
				<property name="impawnContractDAO">
					<ref bean="impawnContractDAO" />
				</property>
				<property name="assurerDAO">
					<ref bean="assurerDAO" />
				</property>
				<property name="empDAO">
					<ref bean="empDAO" />
				</property>
				<property name="loanBankDAO">
					<ref bean="loanBankDAO" />
				</property>
				<property name="loanRateDAO">
					<ref bean="loanRateDAO" />
				</property>
			</bean>
		</property>
	</bean>
</beans>

