<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<!-- Application context definition for collection's business layer. -->
<beans>
	<!-- ========================= BUSINESS OBJECT DEFINITIONS ======================== -->
	<bean id="palindromeformatBS" parent="baseTransactionProxy">
		<property name="target">
			<bean
				class="org.xpup.hafmis.sysloan.dataready.palindromeformat.business.PalindromeformatBS">
				<property name="palindromFormatHeadDAO">
				 <ref bean="palindromFormatHeadDAO"/>
				</property>
				<property name="palindromeFormatTailDAO">
				 <ref bean="palindromeFormatTailDAO"/>
				</property>
				<property name="bankpalindromeDAO">
				 <ref bean="bankpalindromeDAO"/>
				</property>
				<property name="plOperateLogDAO">
				 <ref bean="plOperateLogDAO"/>
				</property>
			</bean>
		</property>
	</bean>
	
 	
</beans>

